<header>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <div class="brand">Insured</div>
        <ul class="nav">
          {{#linkTo "index" tagName="li"}}
              <a {{bindAttr href="view.href"}}>index</a>
          {{/linkTo}}

          {{#linkTo "insureds" tagName="li"}}
              <a {{bindAttr href="view.href"}}>insureds</a>
          {{/linkTo}}

          {{#linkTo "about" tagName="li"}}
              <a {{bindAttr href="view.href"}}>about</a>
          {{/linkTo}}
        </ul>
        <div class="btn-group pull-right">
          <a href="" class="btn"><i class="icon-plus-sign"></i> Add Policy</a>
        </div>
      </div>
    </div>
  </div>

</header>

<div>
  <h1>tweets</h1>
  <tweets></tweets>
</div>


<div class="container-fluid" id="main">
  <div class="row-fluid">
    {{outlet}}
  </div>
</div>

<footer>
 crazy footers
</footer>
