<h1>Insureds</h1>

<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">All Insureds</li>
      {{#each model}}
        {{!view App.InsuredInListView contentBinding="insured"}}
        <li>{{fullName}}</li>
      {{/each}}
    </ul>
  </div>
</div>
<div class="span9">
  {{outlet insured}}
</div>

